{% extends 'base.html.twig' %}

{% block title %}Edit Book{% endblock %}

{% block body %}
    <h2 class="text-4xl tracking-tight leading-10 font-extrabold text-gray-900 sm:text-5xl sm:leading-none md:text-6xl text-center">
        Редактирование<span class="text-green-600"> Книги</span>
    </h2>

    {{ include('books/_form.html.twig', {'button_label': 'Обновить'}) }}

    <div class="flex justify-center py-2 m-2">
        <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-full">
            <a id="Home" class="" href="{{ path('book_index') }}">На главную</a>
        </button>
        {{ include('books/_delete_form.html.twig') }}
    </div>

{% endblock %}
